<!DOCTYPE html>
<html  lang="en">
  <% include ../_partial/head %>
  <body>
    <% include ../_partial/header %>
    <span><a href ='/divelogs/new'>Log a Dive</a></span>

    <ul>
      <% result.forEach((users, i) => { %>
        <li>
          <%= users.name %>:
          <% if (users.divelog) { %>
            <%= users.divelog %>
          <% } %>
        </li>
      <% }); %>
    </ul>

    <% include ../_partial/footer %>

  </body>
</html>
