<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>
  <body>
    <header class="w-full bg-gray-200 p-2 px-4 text-black flex justify-between items-center">
      <h1 class="text-xl font-extrabold tracking-widest ml-4 font-mono text-blue-700">go2dive</h1>
      <h1 class="text-2xl font-extrabold tracking-widest ml-4 font-mono text-blue-700">Log a Dive</h1>
      <a href="/signin" class="uppercase p-2 mr-4"><form action="/signout" method="post">
        <input
          type="submit"
          value="Log Out"
        />
      </form>
    </a>
    </header>
    <script src="/js/diveLog.js"></script>
    <script src="/js/countries.js"></script>

    <form action="/divelogs" method="POST">
      <label for="date">Date:</label><br />
      <input type="date" id="date" name="date" value="" /><br />
      <label for="spot_name">Spot Name:</label><br />
      <input type="text" id="spot_name" name="spot_name" value="" /><br />
      <label for="location_name">Location:</label><br />
      <input type="text" id="location_name" name="location_name" value="" /><br />
      <label for="country">Country:</label><br />
      <select class="js-example-basic-single" name="country" value=""></select><br />
      <label for="entry">Entry:</label><br />
      <input type="text" id="entry" name="entry" value="" /><br />
      <label for="current">Current:</label><br />
      <input type="text" id="current" name="current" value="" /><br />
      <label for="weather">Weather:</label><br />
      <input type="text" id="weather" name="weather" value="" /><br />
      <label for="air_temperature">Air Temperature:</label> ℃<br />
      <input
        type="number"
        id="air_temperature"
        name="air_temperature"
        value=""
      /><br />
      <label for="water_temperature">Water Temperature:</label><br />
      <input
        type="number"
        id="water_temperature"
        name="water_temperature"
        value=""
      /><br />
      <label for="depth">Max Depth:</label><br />
      <input type="number" id="depth" name="depth" value="" /><br />
      <label for="duration">Duration:</label><br />
      <input type="number" id="duration" name="duration" value="" /><br />
      <label for="note">Note:</label><br />
      <input type="string" id="note" name="note" value="" /><br />

      <input type="submit" value="Submit" />
    </form>

    <%- include('../_partial/footer') %>
  </body>
</html>
