<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>
  <script src="/js/drawer.js"></script>
    <script src="/js/diveLog.js"></script>
    <script src="/js/spots.js"></script>
    <script src="/js/countries.js"></script>
  <body>
    <header class="w-full bg-gray-200 p-2 px-4 text-black flex justify-between items-center">
      <h1 class="text-xl font-extrabold tracking-widest ml-4 font-opensans text-blue-700">go2dive</h1>
      <h1 class="text-2xl font-extrabold tracking-widest ml-4 font-opensans text-blue-700">DiveLog</h1>
      <div id="open_nav" class="align-items-center ml-16">
        <svg viewBox="0 0 100 80" width="35" height="35" class="cursor-pointer">
          <rect width="100" height="20"></rect>
          <rect y="30" width="100" height="20"></rect>
          <rect y="60" width="100" height="20"></rect>
        </svg>
      </div>
    </header>

    <section class="relative w-full h-screen">
      <div class="absolute w-full h-full bg-gray-700 opacity-50"></div>
        <div class="absolute bg-transparent w-full h-full flex flex-col justify-center">
        <div class="container flex px-4 py-3 justify-around absolute top-0"></div>

        <div class="flex flex-col justify-center text-center">
          <form action="/divelogs" method="POST">
          <label for="date">Date:</label><br />
          <input type="date" id="date" name="date" value="" /><br />
          <label for="spot_name">Spot Name:</label><br />
          <select class="js-example-basic-single" name="spot" value="">
            <% spots.forEach(spot => { %>
              <option value="<%= spot._id %>"><%= spot.name %></option>
            <% }) %>
          </select><br />
          <label for="entry">Entry:</label><br />
          <input type="text" id="entry" name="entry" value="" /><br />
          <label for="current">Current:</label><br />
          <input type="text" id="current" name="current" value="" /><br />
          <label for="weather">Weather:</label><br />
          <input type="text" id="weather" name="weather" value="" /><br />
          <label for="air_temperature">Air Temperature:</label><br />
          <input
            type="number"
            id="air_temperature"
            name="air_temperature"
            value=""
          /> ℃<br />
          <label for="water_temperature">Water Temperature:</label><br />
          <input
            type="number"
            id="water_temperature"
            name="water_temperature"
            value=""
          /> ℃<br />
          <label for="depth">Max Depth:</label><br />
          <input type="number" id="depth" name="depth" value="" /> m<br />
          <label for="duration">Duration:</label><br />
          <input type="number" id="duration" name="duration" value="" /> mins<br />
          <label for="note">Note:</label><br />
          <input type="string" id="note" name="note" value="" /><br />

          <input type="submit" value="Submit" />
        </form>
      </div>
</div>
</div>
<img
class="object-cover w-full h-full"
src="https://images.unsplash.com/photo-1506652831795-e623e29b8af9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
alt="sea_anemone"
/>
</section>

<nav
id="nav"
class="bg-yellow-400 text-gray-200 uppercase font-opensans rouned
w-64 h-full fixed top-0 right-0 hidden transition-transform-1s"
>
<div id="open_nav" class="top-5 ml-3">
  <svg id="close_nav" viewbox="0 0 100 80" class="cursor-pointer">
    <line x1="10" y1="10" x2="23" y2="23" stroke="#071a3b" stroke-width="4" />
    <line x1="23" y1="10" x2="10" y2="23" stroke="#071a3b" stroke-width="4" />
  </svg>
</div>

<div class="px-2 pt-2 pg-4">
  <a href="/users/profile" class='block px-2 py-1 text-blue-700 text-2xl font-bold font-opensans rounded hover:bg-blue-200'>My Profile</a>
  <a href="/spots" class='mt-1 block px-2 py-1 text-blue-700 text-2xl font-bold font-opensans rounded hover:bg-blue-200'>Find Spots</a>
  <a href="/users" class='mt-1 block px-2 py-1 text-blue-700 text-2xl font-bold font-opensans rounded hover:bg-blue-200'>Find Buddies</a>
  <a href="/signin"><form action="/signout" method="post">
    <input
      type="submit"
      value="Log Out"
      class="mt-1 block px-2 py-1 bg-yellow-400 text-blue-700 text-2xl font-bold font-opensans uppercase rounded hover:bg-blue-200 w-full text-left"
    />
  </form>
  </a>
</nav>

    <%- include('../_partial/footer') %>
  </body>
</html>
