
body {
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  /* margin-top:5px;
  margin-bottom:5px;
  margin-right:12px;
  margin-left:25px;
  margin:0px; */
  margin:0;
}

header{
  background-color:black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top:32px;
  padding-bottom:32px;
}
.b_title {
  font-size:medium;
  text-align: center;
}

.linkbtn {
  align-items: right;
  background-color:#b30f0c;
  color: whitesmoke;
  padding-left: 0.3em;padding-right: 0.3em; padding-top:0.1em; padding-bottom: 0.1em;
  margin: 0.1em;
}

.container-1 {
  display:flex;
  align-items:flex-start;
  align-items:flex-end;
  align-items:flex-center;
  flex-direction:column;
}

.spotlist {
  flex:2;
  order:2;
}

.showInfo {
  text-align: center;
}
.showSpotName {
  font-size: 200%;
}

.showAction{
  display:flex;
  justify-content: center;
  line-height: 5em;
}

.gnav {
  display: flex;
  height: 2rem;
  margin: 0 auto;
  width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
  list-style: none;
  position: relative;
}
.gnav li a {
  background: #001b34;
  border-right: 1px solid #eee;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/*子階層以降共通*/
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .3s;
}
.gnav li li a {
  border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
