
body {
  color:navy;
  font-family: Verdana, sans-serif;
  /* margin-top:5px;
  margin-bottom:5px;
  margin-right:12px;
  margin-left:25px;
  margin:0px; */
  margin:0;
}

header{
  background-color:#c2fcf9;
  text-align: center;
  font-size: larger;
  padding-top:32px;
  padding-bottom:32px;
}
.b_title {background-color: aquamarine; font-weight: bold; font-size: large;}
