<header class="b_title">
  <a href="/<%= slug %>"><%= title %></a>
  <span class ="linkbtn">
  <form action="/signout" method="post">
    <input
     type="submit"
      value="Sign Out"
    />
  </form>
</span>
</header>
