<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>
  <body>
    <%- include('../_partial/header') %>

    <p class="text-bold text-sm"><a href="/users/profile">My Profile</a></p>

    <h1><%= title %></h1>
    <%- include('../_partial/footer') %>
  </body>
</html>
