<!DOCTYPE html>
<html  lang="en">
  <% include ../_partial/head %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Join go2dive</title>
  <body>

    <form action="/users" method="POST" enctype="multipart/form-data">
      <label for="username">Name:</label><br>
      <input type="text" id="name" name="name" value=""><br>
      <label for="certificate">Certification Level:</label><br>
      <input type="text" id="certificate" name="certificate" value=""><br>
      <label for="Country">Country:</label><br>
      <input type="text" id="country" name="country" value=""><br>
      <label for="DOB">Date of Birth:</label><br>
      <input type="date" id="DOB" name="DOB" value=""><br>

      <input type="submit" value="Submit">
    </form>

    <% include ../_partial/footer %>
  </body>
</html>
