<!DOCTYPE html>
<html lang="en">
  <%- include('../_partial/head') %>

  <body>
    <main>
      <section class="relative w-full h-screen">
        <div class="absolute w-full h-full bg-gray-900 opacity-75"></div>
        <div
          class="absolute bg-transparent w-full h-full flex flex-col justify-center items-center"
        >
          <% if(messages.error){ %> <% messages.error.forEach(err => { %>
          <div class="alert alert-success" role="alert"><%= err %></div>
          <% }) %> <% } %>
          <section>
            <h1
              class="p-2 mb-8 text-white text-xl border-b-2 border-white uppercase"
            >
              go2dive signup
            </h1>
          </section>
          <section
            class="w-full md:w-1/2 bg-white flex flex-row md:flex-col lg:flex-row"
          >
            <section class="hidden md:inline-block w-1/2 md:w-full lg:w-1/2">
              <img
                class="object-cover w-full h-full"
                src="https://images.unsplash.com/photo-1518078807653-aa43111444a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"
                alt="img"
              />
            </section>
            <section class="w-full w-1/2 md:w-full lg:w-1/2 flex flex-col p-12">
              <h2 class="font-bold text-lg text-blue-600 mb-8">Sign Up</h2>
              <form class="flex flex-col" action="/users" method="post">
                <label class="text-xs" for="username">Username</label>
                <input
                  class="p-2 py-1 border-b-2 border-blue-600 mb-4"
                  type="text"
                  name="username"
                  placeholder="type your name here..."
                />
                <label for="image">Image:</label><br>
                <input
                  type="file"
                  id="file"
                  name="file"
                  value=""
                  accept="image/png, image/jpeg"
                /><br>
                <label class="text-xs" for="email">Email</label>
                <input
                  class="p-2 py-1 border-b-2 border-blue-600 mb-4"
                  type="text"
                  name="email"
                  placeholder="type your email address here..."
                />
                <label class="text-xs" for="username">password</label>
                <input
                  class="p-2 py-1 border-b-2 border-blue-600 mb-8"
                  type="password"
                  name="password"
                  placeholder="type your password here..."
                />
                <input
                  class="bg-blue-600 text-white p-4 py-2"
                  type="submit"
                  value="Sign Up"
                />
              </form>
            </section>
          </section>
        </div>
        <img
          class="object-cover w-full h-full"
          src="https://images.unsplash.com/photo-1498878359518-e494cdb0bb54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1800&q=80"
          alt="hero"
        />
      </section>
    </main>
  </body>
</html>
