<!DOCTYPE html>
<html  lang="en">
  <% include ../_partial/head %>
  <body>
  <% include ../_partial/header %>
  <div>


    <ul>
      <% result.forEach((users, i) => { %>
      <li>
        <%= users.name %>:
        <% if (users.divelogs) { %>
          <% users.divelogs.forEach((divelog, i) => { %>
            <a href="/divelogs/<%= divelog._id %>"><%= `Dive # ${i + 1}` %></a>
          <% }) %>
        <% } %>
      </li>
      <% }); %>
    </ul>

 </div>

  <% include ../_partial/footer %>
  </body>
</html>
